.main-content{
    max-width: 1024px;
    margin: 0 auto;
    width: 400px;
    padding: 30px;
    height: auto;
    background-color: #9499ff;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 0px 2px 8px 2px #888888;
}
.todo-content{
    text-align: center;
}
.input-data{
    margin-right: 20px;
    border-radius: 8px;
    border-width: 0px;
    height: 26px;
    width: 200px;
    padding-left: 10px;
}
.input-content{
    margin-bottom: 20px;
}
.todo-submit-btn{
    background-color: #ffc7c8;
    border: 1px solid #ffc7c8;
    padding: 5px;
    border-radius: 8px;
    font-weight: 600;
    box-shadow: 0px 2px 8px 2px #888888;
    cursor: pointer;
}
.todo-list{
    width: 286px;
    margin: 0 auto;
}